extends layout 

block content
  link(rel='stylesheet', href='/stylesheets/categories.css')
  div.container.categories-container
    h1= title
    h2.subheader= "Add Categories:"
    form.add-category-form(method="POST")
      input(type="text"
        name= "add-categories"
        placeholder= "Category Name"
        id= "add-categories"
        autocomplete = "off")
      button.add-category-btn(type="submit") Add
    if errors 
      ul
      each error in errors
        li #{error.msg}
    h2.subheader= "Existing Categories:"
    table.categories-table
      tr
        th Category Name
        th Num Products
        th Update
        th Delete
      each category in categories 
        tr
          td.category-name
            input(type="text" form= category._id value = category.name name = "category-update" autocomplete = "off")
          td #{category.num_products}
          td 
            form(id= category._id method="POST" action = `/admin/categories/update/${category._id}`)
              button Update             
          td
            form(method="POST" action = `/admin/categories/delete/${category._id}`)
              button Delete