extends layout 

block content
  title= title
  link(rel='stylesheet', href='/stylesheets/form.css')
  - const numImages = product.imageUrl.length;
  - const numImagesToAdd = 6 - numImages;

  body
    h1= title
    div.form-container
      if errors 
        p Errors to Fix To Continue:
        ul 
          each error in errors 
            li= error.msg
      if message 
        p= message 
      form.edit-form(
        method="POST"
        id= "edit-product"
      )
        label(
          for= "sku"
        ) Sku
        input.read-only(
          type= "text"
          value= product._id
          name= "sku"
          id= "sku"
          readOnly
        )
        label(
          for= "title"
        ) Title
        input(
          type="text"
          value= product.title
          name="title"
          id= "title"
        )
        label(
          for= "description"
        ) Description
        textarea(
          rows="5"
          name= "description"
          id= "description"
        )
          | #{product.description}
        label(
          for= "category"
        ) Category
        select(
          name= "category"
          id= "category"
        )
          each category in categories
            if currentCategory && category.name == currentCategory 
                option(
                  value= category._id
                  selected= true
                ) #{category.name}
            else if product.category.name && category.name == product.category.name
                option(
                  value= category._id
                  selected= true
                ) #{category.name}
            else 
              option(
                value= category._id
              ) #{category.name}         
        label(
          for= "price"
        ) Price
        input(
          type="number"
          id= "price"
          name= "price"
          value= product.price
        )
        label(
          for= "inventory"
        ) Inventory 
        input(
          type="number"
          id= "inventory"
          name= "inventory"
          value= product.inventory
        )
        div.radio-group
          p Featured
          div.featured
            input(
              type= "radio"
              id = "featured-true"
              name = "featured"
              value= "true"
              checked= (product.featured === true)
            )
            label(
              for = "featured-true"
            ) True
          div.featured
            input(
              type= "radio"
              id = "featured-false"
              name = "featured"
              value= "false"
              checked= (product.featured === false)
            )
            label(
              for = "featured-false"
            ) False
        p Current Images
        div.current-images 
          each imageUrl in product.imageUrl 
            div.image-container
              img(src= imageUrl)
        label(
          for= "image"
        ) Image Links
        div.image-links
          - let imageIndex = 1;
          each imageUrl in product.imageUrl
            input(type="text" name = "image" value= imageUrl required= (imageIndex === 1) id= (imageIndex === 1 ? "image" : "") placeholder = `Image ${imageIndex}`)
            - imageIndex += 1
          - let i = 0
          while i < numImagesToAdd 
            input(type="text" name = "image" placeholder = `Image ${imageIndex}`)
            - i += 1
            - imageIndex += 1
        div.buttons-container
            button.delete-product(method="POST" formAction=`/admin/products/delete/${product._id}`) Delete
            button.save-btn(type="Submit" method="POST" formAction=`/admin/edit/${product._id}`) Update
