extends layout 

block content
  include action-buttons.pug
  div.container
    h1= title
    script.
      function redirectEdit(sku) {
        window.location.href = "/admin/edit/" + sku;
      }
    table.products-tabulated
      tr
        th Image
        th Sku
        th Product Name
        th Inventory
        th Category
        th Price ($)
      each product in products 
        tr.product-row(
          onclick=`redirectEdit(${product._id})`
          title= "Click to edit product"
        )
          td 
            img(src=product.imageUrl[0])
          td #{product._id}
          td.product-name 
            a(href="/admin/edit/"+product._id) #{product.title}
          td #{product.inventory}
          td #{product.category.name}
          td #{product.price}